.grid {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 100px 80px auto auto 100px;
    grid-template-areas: 
        'header header'
        'nav nav'
        'leftbar main'
        'leftbar2 main'
        'footer footer';
    gap: 10px;
}

.HF {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    margin-bottom: 3px;
}

aside h3 {
    margin: 5px;
}

.imgcon {
    width: 300px;
    height: auto;
}

header {
    grid-area: header;
    background-color: yellow;
}

nav {
    grid-area: nav;
    background-color: rgb(101, 183, 255);
    border-radius: 4px;
}

nav a {
    display: inline-block;
    margin-right: 30px ;
    margin-top: 4px;
    margin-left: 20px;
    text-decoration: none;
    color: rgb(90, 90, 90);

}


section {
    grid-area: leftbar;
    background-color: rgb(101, 183, 255);
    border-radius: 4px;
}

article {
    grid-area: leftbar2;
    background-color: rgb(101, 183, 255);
    border-radius: 4px;
}

.content {
    padding: 10px;
}

aside {
    grid-area: main;
    background-color: rgb(164, 210, 250);
    padding: 15px;
    border-radius: 4px;
}

aside label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"] {
    width: 100%;
    padding: 7px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
}

aside .choice-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

aside .choice-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

aside .choice-item label {
    display: inline;
    margin: 0;
    font-weight: normal;
}

aside input[type="checkbox"] {
    display: inline;
}

.btn {
    margin-top: 10px;
    background-color: aqua;
    padding: 10px 100px;
    border-radius: 5px;
    cursor: pointer;

}

select {
    margin-bottom: 25px;
    padding: 5px 30px;
    border-radius: 5px;
}

h4 {
    margin-top: 7px;
    color: rgb(104, 104, 104);
    font-weight: 100;
    font-size: 13px;
}

footer {
    grid-area: footer;
    width: 100%;
}